@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #111827; /* Tailwind's gray-900 */
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
